# Copia este archivo como .env y rellena los valores
MONGO_URI=mongodb://localhost:27017/sociodb
JWT_SECRET=cambia_esto_por_una_clave_secreta_larga_y_aleatoria
PORT=3000
ANTHROPIC_API_KEY=sk-ant-pon-tu-clave-aqui
NODE_ENV=production
